
@{
    Layout = "~/Views/Shared/__MyCustom_layout.cshtml";
}

@section cssfile{
    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/Front_Content/css/style.css">
}

@model Notes__Marketplace.Models.LoginModel


<!--=============================-->

<script type="text/javascript">

    $(function () {

        $('#eye').click(function () {

            if ($(this).hasClass('fa-eye-slash')) {

                $(this).removeClass('fa-eye-slash');

                $(this).addClass('fa-eye');

                $('#password').attr('type', 'text');

            } else {

                $(this).removeClass('fa-eye');

                $(this).addClass('fa-eye-slash');

                $('#password').attr('type', 'password');
            }
        });
    });

</script>

<!--=============================-->
<!-- Login Form  is here -->
<section id="form_background">
    <div id="loginpage" class="container">

        <!-- Logo -->
        <div class="row justify-content-center">
            <div id="loginlogo" class="text-center col-md-6 col-12 col-sm-12">

                <img src="~/Content/Front_Content/images/pre-login/top-logo.png" class="img-fluid" alt="Loin">
            </div>
        </div>


        <!-- Form -->
        <div class="row justify-content-center">

            <div class=" col-10 col-md-8 col-sm-10 col-lg-6">
                <div id="loginform">

                    <!-- Heading Section -->
                    <div id="login-head" class="text-center">
                        <h2>Login</h2>
                        <p>Enter your email address and password to login</p>
                    </div>

                    <!-- Message From Login Action [post] -->
                    <div class="errormsg"><p>@ViewBag.msguser</p></div>

                    <!-- Form -->

                    <form method="post">

                        <!-- Email -->
                        <div class="form-group errormsg">
                            <label for="exampleInputEmail1" class="lable_name">Email *</label>
                            <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">    -->
                            @Html.TextBox("EmailID", null, new { @class = "form-control frmField", placeholder = "Email" })
                            <p>  @Html.ValidationMessage("EmailID", "", new { @class = "red_text" })</p>
                        </div>



                        <!-- Password -->
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 col-sm-6 col-md-6">
                                        <label class="mylabel InputPassword1"></label>
                                    </div>

                                    <!-- Forgot Password -->
                                    <div class="col-6 col-sm-6 clo-md-6  text-right">
                                        <label class="myforgotlabel">
                                            <!-- <a href="">Forgot Password?</a>-->
                                            @Html.ActionLink("Forgot Password?", "Forgotpassword", "User")
                                        </label>
                                    </div>
                                </div>
                            </div>

                         @*Eye icon*@ 
                        <div class="wrapper">
                             @*Password*@ 
                           <div class="form-group errormsg">
                             <label for="exampleInputPassword1" class="lable_name">Password</label>
                            <br />
                             @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            <img class="eye_icn" src="~/Content/Front_Content/images/pre-login/eye.png">*@  
                            

                            @Html.Password("Password", null, new { @class = "form-control frmField", placeholder = "Password"})
               
                             <p> @Html.ValidationMessage("Password", "", new { @class = "red_text" })</p>
                            </div>
                              @*<img style="right:-7%;" src="~/Content/Front_Content/images/pre-login/eye.png" alt="Show"></img>*@
                         </div>


                        </div>

                        <!-- Remember Me -->
                        <div class="form-group form-check mycheck123">
                            @Html.CheckBoxFor(X=>X.Rem)
                            <label class="mycheckbox" for="exampleCheck">
                                <p>Remember Me</p>

                            </label>
                        </div>

                        <!-- Login Button -->
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-btn text-uppercase text-center"><b>LOGIN</b></button>
                    </form>




                    <p class="text-center mytext">
                        Don't have an account? <span>
                            @Html.ActionLink("Sign Up", // <-- Link text
                        "Signup" // <-- Action Method Name
                        )
                        </span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Form End -->