

@{
    Layout = "~/Views/Shared/__Custom_Admin_Layout.cshtml";
}

@section title{
    <title>Manage Type </title>

}
@section cssfile{

    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/Admin/css/other/AdminDashboard.css">


}

<!--For Pagination -->
@*@using PagedList.Mvc;
    @using PagedList;
    @model  IPagedList<Notes_MarketPlace.Db.SellerNotes>
     <center>@Html.PagedListPager(Model, page => Url.Action("SearchNotes", "User", new { page,search=Request.QueryString["search"] }))</center>
*@

@using PagedList.Mvc;
@using PagedList;
@*@model  IPagedList<Notes_MarketPlace.Db.SellerNotes>*@

@{
    IPagedList<Notes_MarketPlace.Db.Countries> Model = ViewBag.Categorylist;
    //IPagedList<Notes_MarketPlace.Db.SellerNotes> ModelPublish = ViewBag.DashPublishNotesData;

}



<!-- Custome CSS -->
<!--   bg set of n top-nav bar here -->
<div class="bg__dash_nav">

    <br><br><br><br>

</div>
<br>
<br>
<center><h4 style="color:green; font-size:18px;">@ViewBag.mymsg</h4></center>
<!--=============================================================================================-->
<!--=========== Manage Category part ===================--->

<section id="dash">

    <!-- container -->
    <div class="container">
        <!-- title and  button row -->
        <div class="row" id="row_1">

            <div class="col-sm-12">
                <div class="deash_title_btn">
                    <h2> Manage Country</h2>
                </div>

            </div>

        </div>
        <!-- end of row -->
        <!--======================table with search btn==========================-->
        <!-- table title row -->
        <div class="row">
            <!-- column 01-->
            <div class="col-sm-12">

                <div class="deash_title_btn_table">
                    <div>
                        @using (Html.BeginForm("AddCountry", "Admin", FormMethod.Get))
                        {

                            <button id="my_addcategory_btn">ADD Country</button>
                        }
                    </div>

                    <!-- Search form  ManageCountries(int? countryindex, String countryDATA)-->
                    <div id="search_btn_drop_aglin">
                        <div id="serach_btn">
                            @using (Html.BeginForm("ManageCountries", "Admin", FormMethod.Get))
                            {

                                <input name="countryDATA" class="form-control" type="text" placeholder="Search" aria-label="Search">
                                <button type="submit" id="add_note_btn_search">SEARCH</button>
                            }


                        </div>

                    </div>
                </div>

            </div>
            <!-- end of column 01-->
        </div>
        <!-- end of row -->

        <br>
        <!-- Table 01 row -->
        <div class="row">
            <!-- column 01-->
            <div class="col-sm-12">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col">COUNTRY NAME</th>
                                <th scope="col">CODE</th>
                                <th scope="col">DATE ADDED</th>
                                <th scope="col">ADDED BY</th>
                                <th scope="col">ACTIVE</th>
                                <th scope="col">ACTTION</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var X in Model)
                            {

                                <tr>

                                    <td>@X.Name</td>
                                    <td>@X.CountryCode</td>

                                    <td>@X.CreatedDate</td>
                                    <td>Super Admin</td>
                                    @if (X.IsActive == true)
                                    {
                                        <td>Yes</td>
                                    }
                                    else
                                    {
                                        <td>No</td>
                                    }

                                    <td class="icon_align">

                                        <div class="dropdown show">

                                            <a href="@Url.Action("AddCountry", "Admin", new { id = X.ID }, null)" style="background-color:transparent; border:none;">
                                                <img src="~/Content/Admin/images/dashboard/pencil%20(1).png">
                                            </a>
                                            <a href="@Url.Action("DeactiveCountry", "Admin", new { id = X.ID }, null)" style="background-color:transparent; border:none;">
                                                <img src="~/Content/Admin/images/dashboard/delete%20(1).png">
                                            </a>


                                        </div>
                                    </td>
                                </tr>

                            }










                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end of column 01-->
        </div>
        <!-- end of row -->
        <!-- row -->
        <div class="row">
            <!-- column 01-->
            <div class="col-sm-12">

                <center>@Html.PagedListPager(Model, countryindex => Url.Action("ManageCountries", "Admin", new { countryindex, countryDATA = Request.QueryString["countryDATA"] }))</center>

            </div>
            <!-- end of column 01-->
        </div>
        <!-- end of row <-->
        <!--======================table with search btn + paging   ManageCountries(int? countryindex, String countryDATA)-->
    </div>
    <!--  end of container -->

</section>
<!--===========End of  Manage Category part===================--->